// Layout
$footer_height_mobile: 40px;
$footer_height_tablet: 60px;

$header_height_mobile: 40px;
$header_height_tablet: 60px;

// Colors
$general_black: rgb(0, 0, 0);

// Breakpoints
$mobile:            520px;
$tablet:            700px;
$tablet_landscape:  1024px;
$desktop:           1201px;